<strong>Hello, {{ provider }}</strong>
<p>There is a cancellation on your Schedule, check the details below:</p>
<p>
<strong>Costumer: </strong>  {{ user }} <br />
<strong>Date/hour: </strong> {{ date }} <br />
<br />
<small>
This hour is available for new appointments.
</small>
</p>
